/* CTA Section */
.cta-section {
    margin-top: 3rem; /* Separación del header */
  }
  
  .cta-button {
    display: inline-block;
    padding: 1rem 2rem; /* Tamaño cómodo para clics */
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    background-color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #f0f0f0;
  }
  
  @media (max-width: 768px) {
    .cta-button {
      font-size: 1rem;
      padding: 0.8rem 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .cta-button {
      font-size: 0.9rem;
      padding: 0.7rem 1.2rem;
    }
  }
  